.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin-bottom: 50px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  @media screen and (max-width: 767px) {
    max-width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  outline: 1px solid $svg-color;
  border-radius: 4px;
  &:hover,
  &:focus {
    outline: 1px solid $accent-color;
  }
}

.client__logo {
  fill: $svg-color;
  transition: fill 250ms $timing-function;
}

.clients__link:hover .client__logo,
.clients__link:focus .client__logo {
  fill: $accent-color;
}
