.excell__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.excell__item {
  width: 450px;
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}

.excell__item--box {
  display: flex;
  // max-width: 450px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.excell__svg {
  width: 70px;
  height: 70px;
}

.excell__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  color: $main-text-color;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.excell__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
