.header {
  border-bottom: 1px solid #ececec;
}

.menu_btn {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  fill: #000000;
  z-index: 2;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  & .icon_cross {
    display: none;
  }
  &.is-open .icon_menu {
    display: none;
  }
  &.is-open .icon_cross {
    display: block;
  }
  @media screen and(min-width:768px) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow-y: auto;
  display: none;
  &.is-open {
    display: flex;
    flex-direction: column;
  }
}

// .menu-close-btn {
//   width: 40px;
//   height: 40px;
//   border: none;
//   background-color: transparent;
//   position: absolute;
//   top: 0;
//   right: 0;
//   margin-top: 10px;
//   margin-right: 15px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: box-shadow 250ms $timing-function;
//   padding-top: 3px;
//   &:hover,
//   &:focus {
//     fill: $accent-color;
//   }
// }

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: $main-text-color;
}

.mob-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contacts__list {
  margin-top: 306px;
}

.mob-nav__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mob-nav__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
}

.mob-soc-list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

.mob-soc-item {
  &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  margin-bottom: 10px;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.header-nav__item {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.header-nav .header-nav__item + .header-nav__item {
  margin-left: 50px;
}

.header-nav__link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $main-text-color;
  display: flex;
  padding: 32px 0;
  position: relative;
  transition: color 250ms $timing-function;
}

.header-nav__contact {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  display: flex;
  position: relative;
  transition: color 250ms $timing-function;
}

.header-contacts__list {
  display: flex;
  margin-left: auto;
  padding: 32px 0;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 0;
  }
}

.tel {
  margin-left: 30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0;
    padding-top: 10px;
  }
}

.header-nav__link.current:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
}

.current {
  color: $accent-color;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $black-color;
  margin-right: 93px;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.tel:hover .smartphone,
.tel:focus .smartphone {
  fill: $accent-color;
}

.mail:hover .envelope,
.mail:focus .envelope {
  fill: $accent-color;
}

.logo-web {
  color: $accent-color;
}
