.hero {
  background-color: #c4c4c4;
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-text-color;
  width: 696px;
  height: 120px;
  margin: auto;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-text-color;
  background-color: $accent-color;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  transition: background-color 250ms $timing-function;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
