.team {
  background-color: $section-grey-color;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__item {
  background-color: $white-color;
  margin-left: 30px;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 25%);
}

.team__item:hover {
  box-shadow: 0 5px 5px rgb(0 0 0 / 25%);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: $main-text-color;
}

.team__prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $secondary-text-color;
  margin-bottom: 16px;
}

.team__soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-icon {
  fill: $svg-color;
  transition: fill 250ms $timing-function;
}

.team-social-link:focus .team-social-icon,
.team-social-link:hover .team-social-icon {
  fill: $white-color;
}
