p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: $white-color;
  color: $main-text-color;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 1px solid red;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header-logo,
.footer-logo {
  text-decoration: none;
}

.link {
  text-decoration: none;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.section {
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

address {
  font-style: normal;
}
