p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: $white-color;
  color: $main-text-color;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

.header-logo,
.footer-logo {
  text-decoration: none;
}

.link {
  text-decoration: none;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.section {
  padding: 94px 0;
}

address {
  font-style: normal;
}
